:root {
  --primary-color: #212529;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --best-color: #d4af37;
  --gradient: linear-gradient(190deg, #d4af37, #e4cc7f, #887023);
  --text-background: linear-gradient(to left, darkblue, darkorchid);
}
.text-gradient-gold {
  --text-background: linear-gradient(to left, #887023, #f8f1dd);
}
.text-gradient {
  color: inherit;

  @supports (--css: variables) {
    background: var(--text-background);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.9;
}

p {
  padding: 5px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1rem;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 30px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  border-style: groove;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--best-color);
  margin: 5px;
  border-radius: 30px;
  padding: 12px 15px;
  text-decoration: none;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin-top: 15px;
  margin-left: 15%;
  margin-right: 15%;
}

.email-link {
  display: flex;
  justify-content: center;
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
  align-items: center;
  border-left-style: groove;
  border-color: #887023;
}

#contact {
  text-align: center;
}
a:hover {
  color: rgb(154, 133, 13);
  background-color: #212529;
}
.nav-link {
  color: #887023 !important;
}
.vhm-logo {
  width: 70px;
  height: 40px;
  border-radius: 15%;
  opacity: 0.7;
  border: none;
}
.bs-groove {
  border-style: groove;
}
@media (max-width: 576px) {
  h1 {
    font-size: 50px;
    margin-top: 15%;
  }
  h3 {
    font-size: 17px;
  }
  .email-link {
    font-size: 17px;
  }
}
